
.green-background{
    background-color: #006475;
}

.blue-background{
    background-color: #f2c900;
}

.bg-yellow {
    background: #f2c900;
}

.video-play-button:hover, .video-play-button:focus {
    background: #ffffff;
    color: #006475;
}

.video-play-button {
    background: #fff;
    color: #006475;

}

.hvr-shutter-out-horizontal-blk.yellow-btn:before{
    background:#f2c900;
}

@-webkit-keyframes pulse_effect {
    0% { -webkit-box-shadow: 0 0 0 5px rgba(242,201,0, 0.9); box-shadow: 0 0 0 5px rgba(242,201,0, 0.9); }
    25% { -webkit-box-shadow: 0 0 0 10px rgba(242,201,0, 0.6); box-shadow: 0 0 0 10px rgba(242,201,0, 0.6); }
    70% { -webkit-box-shadow: 0 0 0 15px rgba(242,201,0, 0.3); box-shadow: 0 0 0 15px rgba(242,201,0, 0.3); }
    100% { -webkit-box-shadow: 0 0 0 60px rgba(242,201,0, 0.1); box-shadow: 0 0 0 20px rgba(242,201,0, 0.1); }
}
@-o-keyframes pulse_effect {
    0% { box-shadow: 0 0 0 5px rgba(242,201,0, 0.9); }
    25% { box-shadow: 0 0 0 10px rgba(242,201,0, 0.6); }
    70% { box-shadow: 0 0 0 15px rgba(242,201,0, 0.3); }
    100% { box-shadow: 0 0 0 20px rgba(242,201,0, 0.1); }
}
@keyframes pulse_effect {
    0% { -webkit-box-shadow: 0 0 0 3px rgba(242,201,0, 0.9); box-shadow: 0 0 0 3px rgba(242,201,0, 0.9); }
    25% { -webkit-box-shadow: 0 0 0 6px rgba(242,201,0, 0.6); box-shadow: 0 0 0 6px rgba(242,201,0, 0.6); }
    70% { -webkit-box-shadow: 0 0 0 9px rgba(242,201,0, 0.3); box-shadow: 0 0 0 9px rgba(242,201,0, 0.3); }
    100% { -webkit-box-shadow: 0 0 0 12px rgba(242,201,0, 0.1); box-shadow: 0 0 0 12px rgba(242,201,0, 0.1); }
}


.blue{
    color: #f2c900;
}

.green-background{
    background-color: #006475;
}

.blue-background{
    background-color: #f2c900;
}


.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
    color: #006475;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter {
    background-color: #f2c900;
}

.cbp-l-filters-buttonCenter .cbp-filter-item:hover {
    color: #006475;
}

.hvr-shutter-out-horizontal-blk.green:before {
    background: #f2c900 !important;
}

.custom-btn.d-blue {
    background: #f2c900;
    color: #fff!important;
    border-color: #f2c900;
}

.custom-btn.blue-white {
    background: #006475;
    border-color: #006475;
}

.custom-btn.grrenn-white {
    background: #f2c900;
    border-color: #f2c900;
}

.custom-btn.grrenn-white {
    background: #f2c900;
    border-color: #f2c900;
}

.custom-btn.green {
    background: #006475 !important;
    border: none;
}

.hr-line {
    width: 40px;
    height: 3px;
    background-color: #006475;
    display: block;
    margin-top: 16px;
}

.green {
    color: #006475;
}

.icon-block:hover .counters h3, .icon-block:hover .counters h3 i{
    color: #f2c900;
}


.icon-block.two:hover .counters h3, .icon-block.two:hover .counters h3 i{
    color: #006475;
}

.custom-btn.b-green {
    background: #006475 !important;
    border: none;
}


.hvr-shutter-out-horizontal-blk.c-blue:before {
    background: #f2c900;
}

.hvr-shutter-out-horizontal-blk.b-green:before {
    background: #f2c900;
}


.loader{
    background: #fff;
}

.loading:after{
    background: #006475;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #006475;
}

::-webkit-scrollbar-thumb {
    background: #006475;
}

.side-menu:before{
    background-color: #006475;
}

.team-box .overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #006475;
    opacity: .5;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter:after {
    border-top: 4px solid #f2c900;
}

.cbp-caption-activeWrap {
    background-color: #f2c900;
}

.cbp-caption-zoom .cbp-caption-activeWrap {
    opacity: 0;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

.navbar-top-default .nav-item .gym-nav.active {
    background-color: #006475;
    text-align: center;
}

