
.gradient-bg1{
    background: #3264f5;
    background: -moz-linear-gradient(left, #00abc9, #00e4ce);
    background: -webkit-linear-gradient(left, #00abc9, #00e4ce);
    background: linear-gradient(to right, #00abc9, #00e4ce);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abc9', endColorstr='#00e4ce',GradientType=1 );
}


/* text-color */
.main-color{color: #00abc9;}
.alt-color{color: #00e4ce;}
.third-color{color: #00bcd4;}

.gradient-text1{
    background: #3264f5;
    background: -moz-linear-gradient(left,  #00abc9, #00e4ce);
    background: -webkit-linear-gradient(left,  #00abc9, #00e4ce);
    background: linear-gradient(to right,  #00abc9, #00e4ce);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abc9', endColorstr='#00abc9',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-appear .navbar-top-default.navbar-gradient{
    background: #3264f5;
    background: -moz-linear-gradient(left,  #00abc9, #00e4ce);
    background: -webkit-linear-gradient(left,  #00abc9, #00e4ce);
    background: linear-gradient(to right,  #00abc9, #00e4ce);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00abc9', endColorstr='#00abc9',GradientType=1 );
}

.team-box .overlay:before {
    background: #3264f5;
    background: -moz-linear-gradient(left, #00abc9, #00e4ce);
    background: -webkit-linear-gradient(left, #00abc9, #00e4ce);
    background: linear-gradient(to right, #00abc9, #00e4ce);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abc9', endColorstr='#00e4ce',GradientType=1 );
    opacity: .5;
}

.hvr-shutter-out-horizontal-blk.white-blue:before {
    background: #3264f5;
    background: -moz-linear-gradient(left, #00abc9, #00e4ce);
    background: -webkit-linear-gradient(left, #00abc9, #00e4ce);
    background: linear-gradient(to right, #00abc9, #00e4ce);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#00bcd4',GradientType=1 );
}

.custom-btn.d-blue:hover, .custom-btn.d-blue:focus {
    background: #3264f5;
    background: -moz-linear-gradient(left, #00abc9, #00e4ce);
    background: -webkit-linear-gradient(left, #00abc9, #00e4ce);
    background: linear-gradient(to right, #00abc9, #00e4ce);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#00bcd4',GradientType=1 );
    border: 1px solid transparent;
}

.btn.btn-white-blue.clr-p:hover {
    background: #ffffff;
    border: 1px solid #24c1dd;
    color: #222d38;
}

.hvr-shutter-out-horizontal-blk.white.clr-p:before {
    background: #24c1dd;
}

.custom-btn.green {
    background: #3264f5!important;
    background: -moz-linear-gradient(left, #00abc9, #00e4ce)!important;
    background: -webkit-linear-gradient(left, #00abc9, #00e4ce)!important;
    background: linear-gradient(to right, #00abc9, #00e4ce)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#00bcd4',GradientType=1 );
    border: none;
}

.wexim .tp-bullet.selected .tp-bullet-inner {
    background: #fff;
}

.testimonial-text:hover:after {
    opacity: 1;
}
/*
.testimonial-text:after {
    background: #3264f5;
    background: -moz-linear-gradient(left, #00abc9, #00e4ce);
    background: -webkit-linear-gradient(left, #00abc9, #00e4ce);
    background: linear-gradient(to right, #00abc9, #00e4ce);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abc9', endColorstr='#00e4ce',GradientType=1 );
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-out;
    z-index: 2;
    opacity: 0;
}*/

.testimonial-text:hover .testimonial-arrow {
    border-top-color: #00e4ce;
}

.digi-number {
    color: #00e4ce;
    font-size: 38px;
}

.number-icons {
    font-size: 48px;
    color: #00abc9;
    text-align: right;
}

.bg-yellow {
    background: #3264f5;
    background: -moz-linear-gradient(left, #00abc9, #00e4ce);
    background: -webkit-linear-gradient(left, #00abc9, #00e4ce);
    background: linear-gradient(to right, #00abc9, #00e4ce);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abc9', endColorstr='#00e4ce',GradientType=1 );
}

.video-play-button {
    color: #00e4ce;
}


.video-play-button-small i {
    font-size: 20px;
}
@-webkit-keyframes pulse_effect {
    0% { -webkit-box-shadow: 0 0 0 5px rgba(0,171,201, 0.9); box-shadow: 0 0 0 5px rgba(0,171,201, 0.9); }
    25% { -webkit-box-shadow: 0 0 0 10px rgba(0,171,201, 0.6); box-shadow: 0 0 0 10px rgba(0,171,201, 0.6); }
    70% { -webkit-box-shadow: 0 0 0 15px rgba(0,171,201, 0.3); box-shadow: 0 0 0 15px rgba(0,171,201, 0.3); }
    100% { -webkit-box-shadow: 0 0 0 60px rgba(0,171,201, 0.1); box-shadow: 0 0 0 20px rgba(0,171,201, 0.1); }
}
@-o-keyframes pulse_effect {
    0% { box-shadow: 0 0 0 5px rgba(0,171,201, 0.9); }
    25% { box-shadow: 0 0 0 10px rgba(0,171,201, 0.6); }
    70% { box-shadow: 0 0 0 15px rgba(0,171,201, 0.3); }
    100% { box-shadow: 0 0 0 20px rgba(0,171,201, 0.1); }
}
@keyframes pulse_effect {
    0% { -webkit-box-shadow: 0 0 0 3px rgba(0,171,201, 0.9); box-shadow: 0 0 0 3px rgba(0,171,201, 0.9); }
    25% { -webkit-box-shadow: 0 0 0 6px rgba(0,171,201, 0.6); box-shadow: 0 0 0 6px rgba(0,171,201, 0.6); }
    70% { -webkit-box-shadow: 0 0 0 9px rgba(0,171,201, 0.3); box-shadow: 0 0 0 9px rgba(0,171,201, 0.3); }
    100% { -webkit-box-shadow: 0 0 0 12px rgba(0,171,201, 0.1); box-shadow: 0 0 0 12px rgba(0,171,201, 0.1); }
}

.rare-box{
    background: #3264f5;
    background: -moz-linear-gradient(left,  #00abc9, #00e4ce);
    background: -webkit-linear-gradient(left,  #00abc9, #00e4ce);
    background: linear-gradient(to right,  #00abc9, #00e4ce);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00abc9', endColorstr='#00abc9',GradientType=1 );
}

.loader{
    background: #3264f5;
    background: -moz-linear-gradient(left,  #00abc9, #00e4ce);
    background: -webkit-linear-gradient(left,  #00abc9, #00e4ce);
    background: linear-gradient(to right,  #00abc9, #00e4ce);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00abc9', endColorstr='#00abc9',GradientType=1 );
}

.square:nth-child(3){
    background: #fff;
}

.rotate-left {
    background: linear-gradient(to right, #00abc9, #00e4ce);
    transform: none;
}

.custom-btn.d-blue2 {
    background: #3264f5;
    background: -moz-linear-gradient(left, #00abc9, #00e4ce);
    background: -webkit-linear-gradient(left, #00abc9, #00e4ce);
    background: linear-gradient(to right, #00abc9, #00e4ce);
}

.side-menu:before {
    background-color: #00e4ce;
}

.bg-brand {
    background: linear-gradient(to right, #00abc9, #00e4ce);
}