.green-background{
    background-color: #66c904;
}

.blue-background{
    background-color: #24c1dd;
}

.number-icons {
    font-size: 48px;
    color: #24c1dd;
}

.top-header-area ~ .navbar-top-default{
    background: #24c1dd;
}

.navbar-top-default .nav-item .nav-link.active {
    background-color: #66c904;
    text-align: center;
    color: #fff;
}
.green {
    color: #66c904;
}

.icon-block.two:hover .counters h3, .icon-block.two:hover .counters h3 i {
    color: #66c904;
}


.green-background {
    background-color: #66c904;
}



@-webkit-keyframes pulse_effect {
    0% { -webkit-box-shadow: 0 0 0 5px rgba(242,201,0, 0.9); box-shadow: 0 0 0 5px rgba(242,201,0, 0.9); }
    25% { -webkit-box-shadow: 0 0 0 10px rgba(242,201,0, 0.6); box-shadow: 0 0 0 10px rgba(242,201,0, 0.6); }
    70% { -webkit-box-shadow: 0 0 0 15px rgba(242,201,0, 0.3); box-shadow: 0 0 0 15px rgba(242,201,0, 0.3); }
    100% { -webkit-box-shadow: 0 0 0 60px rgba(242,201,0, 0.1); box-shadow: 0 0 0 20px rgba(242,201,0, 0.1); }
}
@-o-keyframes pulse_effect {
    0% { box-shadow: 0 0 0 5px rgba(242,201,0, 0.9); }
    25% { box-shadow: 0 0 0 10px rgba(242,201,0, 0.6); }
    70% { box-shadow: 0 0 0 15px rgba(242,201,0, 0.3); }
    100% { box-shadow: 0 0 0 20px rgba(242,201,0, 0.1); }
}
@keyframes pulse_effect {
    0% { -webkit-box-shadow: 0 0 0 3px rgba(242,201,0, 0.9); box-shadow: 0 0 0 3px rgba(242,201,0, 0.9); }
    25% { -webkit-box-shadow: 0 0 0 6px rgba(242,201,0, 0.6); box-shadow: 0 0 0 6px rgba(242,201,0, 0.6); }
    70% { -webkit-box-shadow: 0 0 0 9px rgba(242,201,0, 0.3); box-shadow: 0 0 0 9px rgba(242,201,0, 0.3); }
    100% { -webkit-box-shadow: 0 0 0 12px rgba(242,201,0, 0.1); box-shadow: 0 0 0 12px rgba(242,201,0, 0.1); }
}

.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
    color: #66c904;
}

.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap.green-back {
    background-color: #66c904;
}


.btn.btn-white-blue.clr-g:hover {
    background: #ffffff;
    border-color: #66c904;
    color: #222d38;
}

.custom-btn.green {
    background: #66c904 !important;
    border: none;
}

.wexim .tp-bullet.selected .tp-bullet-inner {
    background: #66c904;
}