.header-appear .navbar-top-default.navbar-gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#643094', endColorstr='#643094',GradientType=1 );
    background: linear-gradient(to right, #BC78EC, #3B2667);
}


.padding {
    background: linear-gradient(to right, #3B2667, #BC78EC);
}

.padding-1{
    background: #24c1dd;
}

.gradient-bg1 {
    background: linear-gradient(to right, #3B2667, #BC78EC);
}

.blue {
    color: #24c1dd ;
}

.team-box .overlay:before {
    background: -moz-linear-gradient(left, #3B2667, #BC78EC);
    background: -webkit-linear-gradient(left, #3B2667, #BC78EC);
    background: linear-gradient(to right, #3B2667, #BC78EC);
}

.bg-yellow {
    background: linear-gradient(to right, #3B2667, #BC78EC);
}

.video-play-button:hover, .video-play-button:focus {
    color: #3B2667;
}

.video-play-button {
    color: #BC78EC;
}

.rotate-left {
    background: linear-gradient(to right, #3B2667, #BC78EC);
    transform: none;
}

.custom-btn.d-blue:hover, .custom-btn.d-blue:focus {
    background: -moz-linear-gradient(left, #3B2667, #BC78EC);
    background: -webkit-linear-gradient(left, #3B2667, #BC78EC);
    background: linear-gradient(to right, #3B2667, #BC78EC);
}


.hvr-shutter-out-horizontal-blk.white-blue:before {
    background: -moz-linear-gradient(left, #3B2667, #BC78EC);
    background: -webkit-linear-gradient(left, #3B2667, #BC78EC);
    background: linear-gradient(to right, #3B2667, #BC78EC);
}

.testimonial-text:after {
    background: -moz-linear-gradient(left, #3B2667, #BC78EC);
    background: -webkit-linear-gradient(left, #3B2667, #BC78EC);
    background: linear-gradient(to right, #3B2667, #BC78EC);
}

.testimonial-text:hover .testimonial-arrow {
    border-top-color: #6f42c1;
}


.hvr-shutter-out-horizontal-blk.white.clr-b:before {
    background: linear-gradient(to right, #3B2667, #BC78EC);
}

.btn.btn-white-blue.clr-b:hover, .btn.btn-white-blue.clr-b:active, .btn.btn-white-blue.clr-b:focus {
    background: #ffffff;
    border: 1px solid transparent;
    color: #222d38;
}


.btn.btn-white-blue.clr-p:hover {
    background: #ffffff;
    border: 1px solid transparent;
}

.custom-btn.green {
    background: linear-gradient(to right, #3B2667, #BC78EC) !important;
}

.video-blue {
    background: linear-gradient(to right, #3B2667, #BC78EC);
}


::-webkit-scrollbar-thumb {
    background: #BC78EC;
}

.side-menu:before {
    background-color: #BC78EC;
}

.digi-number {
    color: #3B2667;
    font-size: 38px;
}

.number-icons {
    font-size: 48px;
    color: #24c1dd;
    text-align: right;
}


.gradient-portfolio.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
    background: #3B2667;
    background: -moz-linear-gradient(left, #3B2667, #BC78EC);
    background: -webkit-linear-gradient(left, #3B2667, #BC78EC);
    background: linear-gradient(to right, #3B2667, #BC78EC);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#00bcd4',GradientType=1 );
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.gradient-portfolio.cbp-caption-zoom .cbp-caption:hover .cbp-caption-activeWrap {
    opacity: .9;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter {
    background-color:#3B2667;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter:after {
    border-top: 4px solid #3B2667;
}

.cbp-l-filters-buttonCenter .cbp-filter-item {
    border: none;
    font-size: 14px;
}

.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
    color: #3B2667;
    border-color: #8CD2E5;
    cursor: default;
}

.gradient-text1{
    background: #3B2667;
    background: -moz-linear-gradient(left,  #3B2667, #BC78EC);
    background: -webkit-linear-gradient(left,   #3B2667, #BC78EC);
    background: linear-gradient(to right,   #3B2667, #BC78EC);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#643094',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.loader {
    background: #3B2667;
    background: -moz-linear-gradient(left, #3B2667, #BC78EC);
    background: -webkit-linear-gradient(left, #3B2667, #BC78EC);
    background: linear-gradient(to right, #3B2667, #BC78EC);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#643094', endColorstr='#643094', GradientType=1);
}



.custom-btn.d-blue2{
    background: #3B2667;
    background: -moz-linear-gradient(left, #3B2667, #BC78EC);
    background: -webkit-linear-gradient(left, #3B2667, #BC78EC);
    background: linear-gradient(to right, #3B2667, #BC78EC);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#00bcd4',GradientType=1 );
    color: #fff!important;
    border: 1px solid #d3d3d3;
}

.custom-btn.d-blue2:hover, .custom-btn.d-blue2:active, .custom-btn.d-blue2:focus{
    color: #000!important;
    border-color: #d3d3d3 !important;
}

.bg-brand{
    background: linear-gradient(to right, #3B2667, #BC78EC);
}

.blue {
    color: #4c4c4c;
}



