.header-appear .navbar-top-default.navbar-gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#643094', endColorstr='#643094',GradientType=1 );
    background: linear-gradient(to right, #FD6585, #0D25B9);
}


.padding {
    background: linear-gradient(to right, #FD6585, #0D25B9);
}

.padding-1{
    background: #24c1dd;
}

.gradient-bg1 {
    background: linear-gradient(to right, #FD6585, #0D25B9);
}

.blue {
    color: #4c4c4c;
}

.team-box .overlay:before {
    background: -moz-linear-gradient(left, #FD6585, #0D25B9);
    background: -webkit-linear-gradient(left, #FD6585, #0D25B9);
    background: linear-gradient(to right, #FD6585, #0D25B9);
}

.bg-yellow {
    background: linear-gradient(to right, #FD6585, #0D25B9);
}

.video-play-button:hover, .video-play-button:focus {
    color: #FD6585;
}

.video-play-button {
    color: #0D25B9;
}

.rotate-left {
    background: linear-gradient(to right, #FD6585, #0D25B9);
    transform: none;
}

.custom-btn.d-blue:hover, .custom-btn.d-blue:focus {
    background: -moz-linear-gradient(left, #FD6585, #0D25B9);
    background: -webkit-linear-gradient(left, #FD6585, #0D25B9);
    background: linear-gradient(to right, #FD6585, #0D25B9);
}


.hvr-shutter-out-horizontal-blk.white-blue:before {
    background: -moz-linear-gradient(left, #FD6585, #0D25B9);
    background: -webkit-linear-gradient(left, #FD6585, #0D25B9);
    background: linear-gradient(to right, #FD6585, #0D25B9);
}

.testimonial-text:after {
    background: -moz-linear-gradient(left, #FD6585, #0D25B9);
    background: -webkit-linear-gradient(left, #FD6585, #0D25B9);
    background: linear-gradient(to right, #FD6585, #0D25B9);
}

.testimonial-text:hover .testimonial-arrow {
    border-top-color: #FD6585;
}


.hvr-shutter-out-horizontal-blk.white.clr-b:before {
    background: linear-gradient(to right, #FD6585, #0D25B9);
}

.btn.btn-white-blue.clr-b:hover, .btn.btn-white-blue.clr-b:active, .btn.btn-white-blue.clr-b:focus {
    background: #ffffff;
    border: 1px solid transparent;
    color: #222d38;
}


.btn.btn-white-blue.clr-p:hover {
    background: #ffffff;
    border: 1px solid transparent;
}

.custom-btn.green {
    background: linear-gradient(to right, #FD6585, #0D25B9) !important;
}

.video-blue {
    background: #0D25B9; !important;
}


::-webkit-scrollbar-thumb {
    background: #0D25B9;
}

.side-menu:before {
    background-color: #0D25B9;
}

.digi-number {
    color: #FD6585;
    font-size: 38px;
}

.number-icons {
    font-size: 48px;
    color: #24c1dd;
    text-align: right;
}

.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
    /* background-color: #64C28E; */
    /* background-color: rgba(101,199,150,0.95); */
}



.gradient-portfolio.cbp-caption-zoom .cbp-caption:hover .cbp-caption-activeWrap {
    opacity: .9;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter {
    background-color:#FD6585;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter:after {
    border-top: 4px solid #FD6585;
}

.cbp-l-filters-buttonCenter .cbp-filter-item {
    border: none;
    font-size: 12px;
}

.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
    color: #FD6585;
    border-color: #8CD2E5;
    cursor: default;
}

.button-play {
    background: #FD6585;
}

a:hover, a:active {
    color: #0D25B9;
}

.hvr-shutter-out-horizontal-blk.blue:before {
    background: linear-gradient(to right, #FD6585, #0D25B9);
}

.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
    background: #FD6585;
    background: -moz-linear-gradient(left, #FD6585, #0D25B9);
    background: -webkit-linear-gradient(left, #FD6585, #0D25B9);
    background: linear-gradient(to right, #FD6585, #0D25B9);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#00bcd4',GradientType=1 );
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}


.cbp-l-grid-mosaic-flat.cbp-caption-zoom .cbp-caption:hover .cbp-caption-activeWrap {
    opacity: .9;
}


.loader {
    background: #FD6585;
    background: -moz-linear-gradient(left, #FD6585, #0D25B9);
    background: -webkit-linear-gradient(left, #FD6585, #0D25B9);
    background: linear-gradient(to right, #FD6585, #0D25B9);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#00bcd4',GradientType=1 );
}


.custom-btn.d-blue2{
    background: #FD6585;
    background: -moz-linear-gradient(left, #FD6585, #0D25B9);
    background: -webkit-linear-gradient(left, #FD6585, #0D25B9);
    background: linear-gradient(to right, #FD6585, #0D25B9);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#00bcd4',GradientType=1 );
    color: #fff!important;
    border: 1px solid #d3d3d3;
}

.custom-btn.d-blue2:hover, .custom-btn.d-blue2:active, .custom-btn.d-blue2:focus{
    color: #000!important;
    border-color: #d3d3d3 !important;
}

.bg-brand{
    background: linear-gradient(to right, #FD6585, #0D25B9);
}

.gradient-text1{
    background: #0D25B9;
    background: -moz-linear-gradient(left,  #FD6585, #0D25B9);
    background: -webkit-linear-gradient(left,  #FD6585, #0D25B9);
    background: linear-gradient(to right,  #FD6585, #0D25B9);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#643094',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

