.header-appear .navbar-top-default.navbar-gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#643094', endColorstr='#643094',GradientType=1 );
    background: linear-gradient(to right, #FDD819, #E80505);
}


.padding {
    background: linear-gradient(to right, #FDD819, #E80505);
}

.padding-1{
    background: #24c1dd;
}

.gradient-bg1 {
    background: linear-gradient(to right, #FDD819, #E80505);
}

.blue {
    color: #24c1dd ;
}

.team-box .overlay:before {
    background: -moz-linear-gradient(left, #FDD819, #E80505);
    background: -webkit-linear-gradient(left, #FDD819, #E80505);
    background: linear-gradient(to right, #FDD819, #E80505);
}

.bg-yellow {
    background: #E80505;
}

.video-play-button:hover, .video-play-button:focus {
    color: #E80505;
}

.video-play-button {
    color: #E80505;
}

.rotate-left {
    background: linear-gradient(to right, #FDD819, #E80505);
    transform: none;
}

.custom-btn.d-blue:hover, .custom-btn.d-blue:focus {
    background: -moz-linear-gradient(left, #FDD819, #E80505);
    background: -webkit-linear-gradient(left, #FDD819, #E80505);
    background: linear-gradient(to right, #FDD819, #E80505);
}


.hvr-shutter-out-horizontal-blk.white-blue:before {
    background: -moz-linear-gradient(left, #FDD819, #E80505);
    background: -webkit-linear-gradient(left, #FDD819, #E80505);
    background: linear-gradient(to right, #FDD819, #E80505);
}

.testimonial-text:after {
    background: -moz-linear-gradient(left, #FDD819, #E80505);
    background: -webkit-linear-gradient(left, #FDD819, #E80505);
    background: linear-gradient(to right, #FDD819, #E80505);
}

.testimonial-text:hover .testimonial-arrow {
    border-top-color: #E80505;
}


.hvr-shutter-out-horizontal-blk.white.clr-b:before {
    background: linear-gradient(to right, #FDD819, #E80505);
}

.btn.btn-white-blue.clr-b:hover, .btn.btn-white-blue.clr-b:active, .btn.btn-white-blue.clr-b:focus {
    background: #ffffff;
    border: 1px solid transparent;
    color: #222d38;
}


.btn.btn-white-blue.clr-p:hover {
    background: #ffffff;
    border: 1px solid transparent;
}

.custom-btn.green {
    background: linear-gradient(to right, #FDD819, #E80505) !important;
}

.video-blue {
    background: linear-gradient(to right, #FDD819, #E80505);
}


::-webkit-scrollbar-thumb {
    background: #E80505;
}

.side-menu:before {
    background-color: #E80505;
}

.digi-number {
    color: #E80505;
    font-size: 38px;
}

.number-icons {
    font-size: 48px;
    color: #24c1dd;
    text-align: right;
}


.gradient-portfolio.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
    background: #E80505;
    background: -moz-linear-gradient(left, #FDD819, #E80505);
    background: -webkit-linear-gradient(left, #FDD819, #E80505);
    background: linear-gradient(to right, #FDD819, #E80505);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#00bcd4',GradientType=1 );
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.gradient-portfolio.cbp-caption-zoom .cbp-caption:hover .cbp-caption-activeWrap {
    opacity: .9;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter {
    background-color:#E80505;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter:after {
    border-top: 4px solid #E80505;
}

.cbp-l-filters-buttonCenter .cbp-filter-item {
    border: none;
    font-size: 14px;
}

.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
    color: #E80505;
    border-color: #8CD2E5;
    cursor: default;
}

.gradient-text1{
    background: #E80505;
    background: -moz-linear-gradient(left,  #FDD819, #E80505);
    background: -webkit-linear-gradient(left,   #FDD819, #E80505);
    background: linear-gradient(to right,   #FDD819, #E80505);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#643094',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.loader {
    background: #002661;
    background: -moz-linear-gradient(left,  #FDD819, #E80505);
    background: -webkit-linear-gradient(left,   #FDD819, #E80505);
    background: linear-gradient(to right,   #FDD819, #E80505);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#643094', endColorstr='#643094', GradientType=1);
}



.custom-btn.d-blue2{
    background: #E80505;
    background: -moz-linear-gradient(left,  #FDD819, #E80505);
    background: -webkit-linear-gradient(left,   #FDD819, #E80505);
    background: linear-gradient(to right,   #FDD819, #E80505);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#00bcd4',GradientType=1 );
    color: #fff!important;
    border: 1px solid #d3d3d3;
}

.custom-btn.d-blue2:hover, .custom-btn.d-blue2:active, .custom-btn.d-blue2:focus{
    color: #000!important;
    border-color: #d3d3d3 !important;
}

.bg-brand{
    background: linear-gradient(to right,  #FDD819, #E80505);
}

.blue {
    color: #4c4c4c;
}

.hvr-shutter-out-horizontal-blk.white.clr-p:before {
    background: #E80505;
    background: -moz-linear-gradient(left,  #FDD819, #E80505);
    background: -webkit-linear-gradient(left,  #FDD819, #E80505);
    background: linear-gradient(to right,  #FDD819, #E80505);
    filter:
}

.portfolio-three .filtering .active {
    color: #E80505;
}

.portfolio-three .filtering span:hover {
    color: #E80505;
}

@-webkit-keyframes pulse_effect {
    0% { -webkit-box-shadow: 0 0 0 5px rgba(232,5,5, 0.9); box-shadow: 0 0 0 5px rgba(232,5,5, 0.9); }
    25% { -webkit-box-shadow: 0 0 0 10px rgba(232,5,5, 0.6); box-shadow: 0 0 0 10px rgba(232,5,5, 0.6); }
    70% { -webkit-box-shadow: 0 0 0 15px rgba(232,5,5, 0.3); box-shadow: 0 0 0 15px rgba(232,5,5, 0.3); }
    100% { -webkit-box-shadow: 0 0 0 60px rgba(232,5,5, 0.1); box-shadow: 0 0 0 20px rgba(232,5,5, 0.1); }
}
@-o-keyframes pulse_effect {
    0% { box-shadow: 0 0 0 5px rgba(232,5,5, 0.9); }
    25% { box-shadow: 0 0 0 10px rgba(232,5,5, 0.6); }
    70% { box-shadow: 0 0 0 15px rgba(232,5,5, 0.3); }
    100% { box-shadow: 0 0 0 20px rgba(232,5,5, 0.1); }
}
@keyframes pulse_effect {
    0% { -webkit-box-shadow: 0 0 0 3px rgba(232,5,5, 0.9); box-shadow: 0 0 0 3px rgba(232,5,5, 0.9); }
    25% { -webkit-box-shadow: 0 0 0 6px rgba(232,5,5, 0.6); box-shadow: 0 0 0 6px rgba(232,5,5, 0.6); }
    70% { -webkit-box-shadow: 0 0 0 9px rgba(232,5,5, 0.3); box-shadow: 0 0 0 9px rgba(232,5,5, 0.3); }
    100% { -webkit-box-shadow: 0 0 0 12px rgba(232,5,5, 0.1); box-shadow: 0 0 0 12px rgba(232,5,5, 0.1); }
}

.button-play{
    background: #FDD819;
}

a:hover, a:active {
    color: #E80505;
}

.icon-block.two:hover .counters h3, .icon-block.two:hover .counters h3 i{
    background: #E80505;
    background: -moz-linear-gradient(left, #FDD819, #E80505);
    background: -webkit-linear-gradient(left,  #FDD819, #E80505);
    background: linear-gradient(to right,  #FDD819, #E80505);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643094', endColorstr='#643094',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}








