<div class="cbp-item web-design graphic">
    <a href="images/work-9.jpg" class="cbp-caption cbp-lightbox">
        <div class="cbp-caption-defaultWrap">
            <img src="images/work-9.jpg" alt="port-9">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Project9</div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="cbp-item seo marketing graphic">
    <a href="images/work-6.jpg" class="cbp-caption cbp-lightbox">
        <div class="cbp-caption-defaultWrap">
            <img src="images/work-6.jpg" alt="port-12">
        </div>
        <div class="cbp-caption-activeWrap green-back">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Project12</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="cbp-item web-design seo">
    <a href="images/work-10.jpg" class="cbp-caption cbp-lightbox">
        <div class="cbp-caption-defaultWrap">
            <img src="images/work-10.jpg" alt="port-11">
        </div>
        <div class="cbp-caption-activeWrap green-back">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Project11</div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="cbp-item web-design graphic">
    <a href="images/work-2.jpg" class="cbp-caption cbp-lightbox">
        <div class="cbp-caption-defaultWrap">
            <img src="images/work-2.jpg" alt="port-10">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Project10</div>
                </div>
            </div>
        </div>
    </a>
</div>